<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morse.ui">

    <application>
        <activity android:name=".ui.detail.view.DetailActivity" android:parentActivityName=".ui.home.view.HomeActivity" android:singleUser="true"></activity>
    </application>

</manifest>